APPLE_TEAM_ID=YOUR_TEAM_ID
APPLE_KEY_ID=YOUR_KEY_ID
APPLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----"
WEATHERKIT_SERVICE_ID=com.example.weatherkit-client
APNS_TOPIC=com.example.willitrain
APNS_ENV=sandbox
